* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #fff;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;

    li {
        display: inline-block;
    }
}

br {
    @include respond-to(medium){
        display: none;
    }
}

h1, h2, p, figure, ul, li {
    margin: 0;
    padding: 0;
}